.main-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}

.campaign-image {
    position: relative;
    margin-bottom: 1.5rem;
}

.campaign-image img {
    width: 100%;
    border-radius: var(--border-radius);
}